@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  font-family: "Poppins";
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  color: hsl(0, 0%, 45%);
}

button {
  cursor: pointer !important;
  border: 0;
  color: white;
  outline: none;
}
